//VARIABLES

$light: rgb(249, 250, 250);
$grey: rgb(146, 153, 154);
$dark-grey: rgb(56, 64, 71);
$darker-grey: #333;
$crimson: rgb(201,72,72);
$transparent-grey: rgba(0,0,0,.15);

//MEDIA QUERIES
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;