/*div.main-nav starts*/
.main-nav {
	text-align: center;
	@media screen and (min-width: $breakpoint-lg){
		width: 95%;
		margin: 0 auto;
		padding-top: 40px;
		overflow: auto;
	}
}
.main-nav {
 	li {
		list-style: none;
	}
}
.main-nav { 
	a {
		text-decoration: none;
		@include font($family: 'Roboto', $weight: 700, $color: $dark-grey)
	}
}
/*div.leftNav starts*/
.leftNav {
	padding: 20px;
	@media screen and (min-width: $breakpoint-md) {
		padding-bottom: 35px;
	}
	@media screen and (min-width: $breakpoint-lg){
		width: 50%;
 		display: inline-block;
 		float:left;
 		text-align: right;
 		padding: 0;
 		text-align: left;
	}
}
.main-nav {
	a#myName {
		font-size: 40px;
		&:hover {
			color: $crimson;
			cursor: pointer;
		}
		@media screen and (min-width: $breakpoint-md) {
			@include font(42px, $weight: 700px);
		}
		@media screen and (min-width: $breakpoint-lg) {
			font-size: 33px;
		}
	}
}
/*div.leftNav ends*/

/*div.rightNav starts*/
.rightNav {
	li{
		@extend .width-95;
	    background: #fff;
	    padding: 8px 0;
	    margin: 10px auto;
	    @include font($size: 24px, $weight: 700);
	    text-transform: uppercase;
	    @media screen and (min-width: $breakpoint-md) {
			display: inline-block;
		    background: $light;
		    padding: 0 20px;
		    margin: 10px auto;
		    @include font(24px, $weight: 700);
		 	width: auto;
		}
		@media screen and (min-width: $breakpoint-lg) {
			background: $light;
	    	padding: 0 0 0 40px;
	    	font-size: 20px;
		}
	}
	a {
		&:hover{
			color: $crimson;
			cursor: pointer;
			@media screen and (min-width: $breakpoint-md) {
				border-bottom: 3px solid $crimson;
				color: $darker-grey;
			}
			@media screen and (min-width: $breakpoint-lg) {
				border: none;
				color: #fff;
				background: $crimson;
				padding: 10px 20px;
				border-radius: 20px;
			}
		}
	}
	@media screen and (min-width: $breakpoint-md) {
		overflow: auto;
	}
	@media screen and (min-width: $breakpoint-lg){
		width: 50%;
 		display: inline-block;
 		float:left;
 		text-align: right;
	}
}
/*div.rightNav ends*/
/*div.main-nav ends*/
